<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>OTP Email Template</title>
    </head>
    <body>
        <div style = "margin-left : 10%">
            <h3 style = "font-size : 100%">
                Hi <span th:text="${recipientName}"><br/></span>,
            </h3>
            <p style = "font-size : 90%">
                We’re happy to welcome to you to Student Support Service.
                <br/><br/>
                Your Verification Code is <b style = "font-size : 95%"> <span th:text="${message}"></span> </b>.
            </p>
        </div>

        <div style = "margin-left : 10%;margin-top : 2%; justify-content : center ">
            <h3 style = "font-size : 100%">
                Team,
                <br/>
                <em th:text="${senderName}"></em> <br />
            </h3>
        </div>
    </body>
</html>